.cast-container {
  padding: 20px;
}

.cast-container h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.cast-container ul {
  padding: 0;
  list-style-type: none;
}

.cast-container li {
  margin: 10px 0;
  padding: 10px;
  background: #f9f9f9;
  border-radius: 5px;
}
